<h1>Restaurant</h1>

<%= @restaurant.name %>
<br>
<%= @restaurant.address %>
<br>
<%= @restaurant.phone_number %>
<br>
  <div>
  <%= simple_form_for [@restaurant, Review.new] do |f| %>
    <%= f.input :rating, collection: Review::RANGE %>
    <%= f.input :content %>
    <%= f.submit %>
  <% end %>
  </div>

<%# <%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
